# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Environment variables
.env.local
.env.production
.env.test

# IDEs / Editors
.vscode/
.idea/
*.swp

# Coverage / testing
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/